/* CSS DOCUMENT - CARD */

@import url('https://fonts.cdnfonts.com/css/adobe-garamond-pro-2');
@import url('https://fonts.cdnfonts.com/css/ringbearer');
                

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px black solid; */
}

body{
    font-family: 'Segoe UI';
    color: black;
    background: rgb(43,102,35);
    background: linear-gradient(180deg, rgba(43,102,35,1) 10%, rgba(46,47,42,1) 36%);
}

#top{
    height: 200px;
    text-align: center;
    font-family: 'Adobe Garamond Pro', sans-serif;;                                          
    font-size:40px; 

}

#top img{
    height: 250px;
}

#content {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black ;
    background-color: #EEE8AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
    transform: scale(1.10);
  }

.card h2{
font-size: 23px;
font-family:'Adobe Garamond Pro', sans-serif;;
}

.card figure{
    width: 250px;
    min-height: 250px;
    border-radius: 20px;

    
}

.card figure img{
    width: 100%;
    border-radius: 10px;
}



#bottom{
    text-align: center;
    padding: 10px 0;
    font-family: 'Ringbearer', sans-serif;
   color:  #e1c001;  
   font-size:30px;                                     
}
